.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
coverage
*cutting.figmarine.json
.npmrc

# Debug files for local testing
packages/cuttings/src/debug.ts
packages/rest/src/debug.ts
